fastapi==0.110.0
uvicorn==0.29.0
streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
joblib==1.4.2
plotly==5.22.0
kaleido==0.2.1
reportlab==4.1.0
matplotlib==3.8.4
python-multipart==0.0.9
requests==2.31.0
